<div class="cart-shipping__wrapper" style="display:none">
  <p class="cart-shipping__numOuter">
    {{ settings.cart_top_first_text }}
    <b>$<span class="cart-shipping__num"></span></b> {{ settings.cart_top_last_text }}
  </p>
  <p class="cart-shipping__success">{{ settings.cart_discount_success_message }}</p>
  <div class="cart-shippingThreshold__bar">
    <span class="cart-shippingThreshold__progress"></span>
  </div>
  <div class="bar-bottom">{{ settings.cart_bottom }}</div>
</div>

<style>
      /*  Style the progress bar  */
      .cart-shipping__wrapper {
        padding: 15px;
        max-width: 700px;
        margin: 0 auto;
      }

      .cart-shippingThreshold__bar {
        margin-top: 10px;
        position: relative;
        background-color: #d8d8d8;
        height: 1rem;
        border-radius: 30px;
      }

      .cart-shippingThreshold__progress {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 0;
        max-width: 100%;
        height: 100%;
        display: block;
        background-color: #000;
        border-radius: 30px;
      }
      .cart-shipping__success {
      display: none;
    }
  /* fk style starts here */

  .cart-shippingThreshold__progress {
    height: 10px;
    top:-2.5px;
  }

  .cart-shippingThreshold__bar {
    height: 5px;
  }

  .cart-shipping__numOuter b {
    letter-spacing: 0;
    font-weight: 700;
    font-size: 14px;
  }

  p.cart-shipping__numOuter,
  .bar-bottom{
    font-size: 12px;
    letter-spacing: 0;
  }

  .cart-shipping__success {
    font-weight:bolder;
    font-size: 13px;
    letter-spacing: 0;
  }

  .bar-bottom {
    text-align: end;
    margin-top: 10px;
  }

  .cart-shipping__wrapper {
    padding-top:0;
  }

  .cart-shipping__numOuter b {
    font-family: 'ProximaSansRegular' !important;
  }
  /* fk style ends here */
</style>




